body{
    background-color: lightgray;
}
canvas{
    background-color: white;
}
input {
    font-style: normal;
    width: 200px;
}

input[type="checkbox"] {
    width: 30px;
}

.function {
    font-style: italic ! important;
    width: 200px;
}

button {
    width: 100%;
}